.title {font-size: 11px; text-align: center; 

}

.name {font-size: 11px; text-align: center; 


}

.desc{font-size: 11px; text-align: center; 

}

.price {
    font-size: 11px; text-align: center; 
}

.button { justify-content: center;
    
}